@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.home{
 padding: none;
}
.mainTitle{
    display:flex;
    z-index:1;
    background: linear-gradient(-45deg,#000000, #353839, #343434, #0c0908, #000023);
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 7s ease infinite;
    row-gap: 100px;
    align-items: center;
    justify-content: center;

}
.headingTitle{
    letter-spacing: 0.33cm; 
    justify-content: center;
}
.headingTitle h1{
    font-size: 3.5rem;
    color: white;
    opacity: 0;
    animation: slideLeft 1s ease forwards;

}
.headingTitle p{
    font-size: 1.3rem;
    color: grey;
    letter-spacing: normal;
    text-align: center;
    opacity: 1;
   
} 

.headingTitle span{
    animation: blinker 1s linear infinite;
}

.heading{
    position: relative;
}

/****************LOADER ****************/
/*.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1b1b1a;
    justify-content: center;
    align-items: center;
}
.loader{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid white;
    top: 50%;
    animation: loader 2s infinite ease;
}*/

.loader-inner{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: white;
    animation: loader-inner 2s infinite ease-in;
}
/*********************************************Navbar*****************************************/
.navbar{
    color:whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    justify-content: center;
    align-items: center;
    z-index:200;
    transition: .3s;
}
.nav-links{
    position: relative !important;
}
.navbar a{
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.35s * var(--i));
    transition: all .35s ease;
}
.bgColor{
    transition: all .7s;
    background-color: #181717;
}
.navbar ul{
    text-align: right;
 
}
.navbar li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;

}
.navbar ul li a{
    font-weight: bold;
    letter-spacing: 0.05cm;
    color: rgb(105, 102, 102);
    text-decoration: none;
    width: 100%;
    font-size: 1rem;
}

.navbar li a:hover{
    color: rgb(160, 154, 154);

}

.navbar a:hover,
.navbar a.active{
    color: rgb(173, 167, 167);
    
}
/******************************************About Section***********************************************/

span {
    color:rgb(173, 167, 167);
}
.about-page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    position: fixed;
    background: black;
    opacity: 0%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: -1;
    overflow: hidden;

    padding: 50px 50px;
    color: white;
    padding-right: 50rem;
}

.about-img img{
    width: 40vw;

}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    
}
.about-content h3{
    font-size: 2rem;
}
.about-content p{
    font-size: 1.2rem;
    margin: 2rem 0 3rem;
}
.open-about{
    opacity: 85%;
    z-index: 900;

}

.btn{
    background-color: transparent;
    border: transparent;
    font-weight: 600;
    letter-spacing: 0.05cm;
    color: rgb(105, 102, 102);
    text-decoration: none;
    width: 100%;
    font-size: 1rem;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.about-page .button{

    position: absolute;
    background-color: transparent;
    border: transparent;
    color: rgb(105, 102, 102);
    cursor: pointer;
    outline: none;


    font-size: 1.5rem;
    font-weight: 800;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 25px;
}
.about-page .button:hover{
    color:rgb(173, 167, 167)
}

.fade-in{
    opacity: 1;
}

.about-icons{
    position: relative;
}
.about-icons a{
    
   display: inline-flex;
   justify-content:center ;
   align-items: center;
   width:3.3rem;
   height: 3.3rem;
   background-color: transparent;
   border: .2rem solid white;
   border-radius: 50%;
   box-shadow: 0 .2rem .5rem rgb(160, 154, 154);
   font-size: 1.5rem;
   color: white;
   margin: -1rem 1.5rem 2rem 0;
   text-decoration: none;
   transition: .5s ease;
}
.about-icons a:hover{
    background: white;
    color: black;
}

.about-page .btn{
    display: inline-block;
    padding: 0.8rem 2.8rem;
    background: white;
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem rgb(105, 102, 102);
    font-size: 1rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 700;
    border: .2rem solid transparent;
    transition: .5s ease;
    width: 200px;
    height: 60px;
}

.about-page .btn:hover{
    background: transparent;
    color: white;
    border-color: white;
}
/********************************************Experience Section********************************************/

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    background-color: #222222;
    color: white 
}


.heading{
    z-index: 100;
    margin-top: -1cm;
    font-size:3rem;
    margin-bottom: 1rem;
    text-align: center;
}
.education{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    padding-top: 2cm;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem; 
 }
 .education-column .title{
    position: relative;
    display: inline-block;
    font-size: 2rem;
    margin: 0 0 1.5rem 2rem;
 }

 .education-column .education-box {
    position: relative;
    border-left: .2rem solid #fff;
 }

 .education-box .education-content {
    position: relative;
    padding-left: 2rem;
 }

 .education-box .education-content::before{
    content:"";
    position: absolute;
    top: 0;
    left: -0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
 }

 .education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #fff;
    border-radius: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
 }

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fff; 
    opacity: 5%;
    transition: .5s;
    z-index: 1;
}
.education-content .content:hover::before{
    width: 100%;
}

  
.education-content .content .year{
    color: rgb(173, 167, 167);
    padding-bottom: .5rem;
    z-index: 2;
 }

 .education-content .content h3{
    font-size: 1.5rem;
    z-index: 1;
 }
 .education-content .content p{
    padding-top: .5rem;
    z-index: 100;
 }

/*****************************************Skills Section*********************************/

.skills{
    background-color: #242424;
    min-height: auto;
    padding-bottom: 7rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.skills h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}


.parent-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

  
.skills-wrapper img {
    padding: 1rem;
  }
  
  .icon {
    width: 15rem;
    height: 15rem;
  }

  .icon-card {
    background-color:#505557;
    border-radius: 11px;
    box-shadow: 0 3px 10px rgb(122, 118, 118);
    padding: 20px;
    margin: 10px;
    transition: .45s;
    
  }

 .icon-card:hover{
    transform: translateY(6px);
    background-color: white ;
 }   
/*
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 0.75 0.75 30rem;
    padding-top: 1.25cm;
}

.skills-column .title{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
 
.skills-column .skills-box{
    position: relative;
}
.skills-box .skills-content{
    position: relative;
    width: 100%;
    border: .2rem solid white;
    border-radius: .6rem;
    padding: .5rem  1.5rem;
    z-index: 1;
    overflow: hidden;
}
/*
.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:#1b1b1a;
    z-index: -1;
    transition: .6s;

}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}
.skills-content .progress h3 span {
    color: whitesmoke;
}

.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid rgb(173, 167, 167);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: rgb(173, 167, 167);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width:75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 65%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 95%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 90%;
}
*/
 /***********************************Portfolio Section*************************************/


.portfolio h2{ 

    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.portfolios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    margin-top: 3rem;


    .portfolio-item{
        position: relative;
        box-shadow: 0 0 1rem rgba(0,0,0,.1);
        
        
        .hover-items{
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            justify-content:first baseline;
            align-items: baseline;
            flex-direction: column;
            transform: scale(1.05);
            transition: all .5s ease;

            justify-content: center;
            color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 0 4rem;
            
            
        } 
    } 
}
.portfolios :nth-child(3){
    .port-title{
        font-size: 1.4rem;
    }
}
.portfolios :nth-child(5){
    .port-title{
        font-size: 1.63rem;
    }
}
.port-title{
    font-size: 2rem;
}
.port-text{
    font-size: 1rem;
    margin: .3rem 0 1rem; 
}


.hover-items a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease-in-out;
    text-decoration: none;
    margin: 0 0.5rem;
    &:hover{
        background-color:#505557;
    }
}

.hover-items a i {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-item:hover .hover-items{
    opacity: 0.85;
    transform: scale(1);
}

/********************************Contact Section********************************/


.contact{
    background-color: #242424;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.contact-text h4{
    color: white;
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.contact-text h2{
    line-height: 1;
    font-size: 55px;
    position: relative;
}

.contact-text p{
    color:rgb(173, 167, 167);
    line-height: 1.8;
    margin-bottom: 30px;
    position: relative;
}
.list{
    position: relative;
    margin-bottom: 2.8rem;
    list-style:none;
}
.list li{
    margin-bottom: 12px;
}
.list li a{
    display: block;
    color:rgb(173, 167, 167);
    font-size: 14px;
    transition: all .45s ease;
    text-decoration:none;
}

.list li a:hover{
    color: white;
    transform: translateY(4px);
}
.contact-icons{
    position: relative;
}
.contact-icons i{
  
    height: 45px;
    width: 45px;
    color: rgb(173, 167, 167);
    font-size: 22px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}
.contact-icons i:hover{
    color: white;
}
.contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 14px;
    background: rgb(44, 43, 43);
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 18px;
}
.contact-form textarea{
    resize: none;
    height: 240px;
}

.contact form .submit{
    display: inline-block;
    font-size: 16px;
    background-color:rgb(105, 102, 102);
    color: white;
    width: 160px;
    transition: all .45s ease;;
}
.contact-form .submit:hover{
    transform: scale(1.07);
    cursor: pointer;
}
/*
.contact {
    min-height: auto;
    padding-bottom: 7rem;
    background-color: #242424;
}

.contact h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color:rgb(105, 102, 102);
    background-color: transparent;
    border-radius: .6rem;
    border: .2rem solid white;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: rgb(173, 167, 167);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    opacity: 5%;
    border-radius: .6rem;
    z-index: 1;
    transition: .4s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content:flex-end;
    width: 34.5rem;
    height: 5rem;
    padding-left: 30rem;
}

.btn-box .btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: #222222;
    border: .2rem solid white;
    border-radius: .8rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: white;
    overflow:hidden;
    transition: .5s;
    z-index: 1;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background:rgb(160, 154, 154);
    z-index:-1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}
*/
/*****************************ANIMATION RELOAD & SCROLL*****************************/
.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    z-index: 98;
}

.navbar .animate,
#menu-icon .animate,
.mainTitle.show-animate .animate
{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.1s * var(--i))
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s * var(--i));
    animation: none;
}

section:nth-child(even) .animate.scroll {
    background: #222222;
}

.education .education-box .animate.scroll{
    width: 105%;
}

.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.portfolio.show-animate .animate.scroll,
.skills.show-animate .animate.scroll{
    transition-delay: calc(.3s * var(--i));
    width: 0;
}


/****************************BREAKPOINTS******************************/
@media (max-width: 2000px){

    .icon{
        width: 14rem;
        height: 14rem;
       }
       .skills{
        padding-left:15rem;
        padding-right:15rem;
       }
       
 }

@media (max-width: 1500px){
    html{
        font-size: 80%;
       }
   .icon{
    width: 12rem;
    height: 12rem;
   }
   .skills{
    padding-left:15rem;
    padding-right:15rem;
   }
   .about-page{
    padding-right: 40rem;
   }
}

@media (max-width: 1200px){
    html{
        font-size: 70%;
    }
    .icon{
        width: 10rem;
        height: 10rem;
       }
       .skills{
        padding-left:10rem;
        padding-right:10rem;
       }
       .about-page{
        padding-right: 30rem;
       }
}


@media (max-width: 991px){
    .navbar{
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }
    .about-content{
        font-size: 60%;
    } 
    .icon{
        width: 7rem;
        height: 7rem;
       }
       .skills{
            padding-left:10rem;    
       }
}

@media (max-width: 768px){
    #menu-icon {
        display: block;
    }

    .portfolios {
        grid-template-columns: repeat(2,1fr);
    }   
    .about-content{
        font-size: 50%;
    } 
    .icon{
        width: 5rem;
        height: 5rem;
    }
    .skills{
        padding-left:5rem;
        padding-right:5rem;  
   }
   .about-page{
    padding-right: 3 0rem;
   }
}
@media (max-width: 617px) {
    .portfolios {
        grid-template-columns: 1fr;
    }
    .icon{
        width: 4rem;
        height: 4rem;
    }
    .skills{
        padding-left:4rem;
        padding-right:4rem;  
   }
}
@media (max-width: 520px){
    html {
        font-size: 50%;
    }

}
@media (max-width: 462px){
    .education{
        padding: 10rem 4% 5rem 5%;
    }
    .contact form .input-box .input-field {
        width: 100%;
    }
}

/************************ANIMATIONS******************/
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animate{
    0%{
        background-position:0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%
    }
}

